<div id="home-container">
	<div class="topcoat-grid cordova-grid-bg">
		<div class="topcoat-grid__row discover-message-container">
			<div class="topcoat-grid__column--4 topcoat-grid__offset--3">
				<h1 class="discover-message">Discover plugins for your </h1>
				<h1 class="discover-message">Apache Cordova project.</h1>
			</div>
			<div class="topcoat-grid__column--3">
				<div class="pluggy-logo home-pluggy"></div>
			</div>
			<div class="topcoat-grid__column--2"></div>
		</div>

		<div class="topcoat-grid__row grid-gradient">
			<div class="topcoat-grid__column--10 topcoat-grid__offset--1">
				<a href="/#/viewAll" class="home-browse-all">Browse all {{totalPlugins}} plugins</a>
			</div>
		</div>

	</div>

	<div class="topcoat-grid">

		<div class="topcoat-grid__row" class="call-to-action-panes">
			<div class="topcoat-grid__column--4 topcoat-grid__offset--2">
				<div class="topcoat-grid call-to-action-pane">
					<div class="call-to-action-pane-left-triangle"><div></div></div>
					<div class="call-to-action-pane-right-triangle"><div></div></div>
					<div class="topcoat-grid__row">
						<div class="topcoat-grid__column--12">
							<img class="call-to-action-img" title="Contrib flyer" src="/images/contribute.png" />
						</div>
					</div>
					<div class="topcoat-grid__row">
						<div class="topcoat-grid__column--12">
							<h2>Contribute</h2>
						</div>
					</div>
					<div class="topcoat-grid__row">
						<div class="topcoat-grid__column--12">
							<h4>Want to <span> author &amp; publish</span> plugins?</h4>
							<a href="pleaseread.html">Please read our docs</a>.
						</div>
					</div>
				</div>
			</div>
			<div class="call-to-action-mid-spacer">
				<div class="icon-cordova logo"></div>
			</div>
			<!-- <div class="topcoat-grid__column--1">
			</div> -->
			<div class="topcoat-grid__column--4">
				<div class="topcoat-grid call-to-action-pane">
					<div class="call-to-action-pane-left-triangle"><div></div></div>
					<div class="call-to-action-pane-right-triangle"><div></div></div>
					<div class="topcoat-grid__row">
						<div class="topcoat-grid__column--12">
							<img class="call-to-action-img" title="Utilize wrench" src="/images/utilize.png" />
						</div>
					</div>
					<div class="topcoat-grid__row">
						<div class="topcoat-grid__column--12">
							<h2>Utilize</h2>
						</div>
					</div>
					<div class="topcoat-grid__row">
						<div class="topcoat-grid__column--12">
							<h4>Need to <span>install or remove</span> a plugin?</h4>
							<a href="pleaseread.html">Check the documentation</a>.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="topcoat-grid__row home-plugin-listing-headers">
			<div class="topcoat-grid__column--4 topcoat-grid__offset--2">
				<h3>Most Downloaded</h3>
			</div>
			<div class="call-to-action-mid-spacer">
			</div>
			<div class="topcoat-grid__column--4">
				<h3>Last Updated</h3>
			</div>
		</div>		

		<div class="topcoat-grid__row home-plugin-listing">
			<div class="topcoat-grid__column--4 topcoat-grid__offset--2">
				<div ng-repeat="plugin in mostDownloaded">
					<div class="topcoat-grid__row">
						<div class="topcoat-grid__column--1">
							{{plugin.download_count}}
						</div>
						<div class="topcoat-grid__column--1">
						</div>
						<div class="topcoat-grid__column--10">
							<a href="/#/package/{{plugin.bundle_id}}">
								{{plugin.bundle_id}}
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="call-to-action-mid-spacer">
			</div>
			<div class="topcoat-grid__column--4">
				<div ng-repeat="plugin in lastUpdated">
					<div class="topcoat-grid__row">
						<div class="topcoat-grid__column--1">
							{{plugin.updated}}
						</div>
						<div class="topcoat-grid__column--1">
						</div>
						<div class="topcoat-grid__column--10">
							<a href="/#/package/{{plugin.bundle_id}}">
								{{plugin.bundle_id}}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
