<div id="main-container" class="grid">

	<div class="topcoat-grid">
		<div class="topcoat-grid__row">
			<div class="topcoat-grid__column--3 topcoat-grid__offset--1">
				<h1 class="discover-message">Discover plugins for your </h1>
				<h1 class="discover-message">Apache Cordova project.</h1>
			</div>
			<div class="topcoat-grid__column--5">
				<img src="" alt="pluggy the robot" />
			</div>
		</div>

		<div class="topcoat-grid__row">
			<div class="topcoat-grid__column--3 topcoat-grid__offset--1">
				<a href="/#/viewAll">Browse all {{totalPlugins}} plugins</a>
			</div>
		</div>

		<div class="topcoat-grid__row">
			<div class="topcoat-grid__column--6">
				Contribute
			</div>
			<div class="topcoat-grid__column--6">
				Utilize
			</div>
		</div>

		<div class="topcoat-grid__row">
			<div class="topcoat-grid__column--6">
				Most Downloaded
			</div>
			<div class="topcoat-grid__column--6">
				Last Updated
			</div>
		</div>		

		<div class="topcoat-grid__row">
			<div class="topcoat-grid__column--6">
				
			</div>
			<div class="topcoat-grid__column--6">
				
			</div>
		</div>
	</div>

	<!-- <div id="top-packages">
		<div id="latest-packages"><div class="top-title">Latest Updates</div></div>
		<div id="top-dep-packages"><div class="top-title">Most Depended On</div></div>
		<div class="clear"></div>
	</div> -->
</div>
