<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type='text/javascript' src="stats.js"></script>
  </head>

  <body>
    <div id="total"></div>
    <table class='table'>
      <thead>
        <tr>
          <th>
            Rank 
          </th>
          <th>
            Plugin ID
          </th>
          <th>
            Downloads
          </th>
        </tr>
      </thead>
      <tbody id='downloads'>
      </tbody>
    </table>
    <div id="client_stats">
    </div>
  </body>

</html>
