<div ng-show="plugins.length > 0">
    <div class="row pluginHeader">
        <div class="column-9--hand column-8--lap">
            <h3>Plugin ID & description</h3>
        </div>
        <div class="column-3--hand column-2--lap center">
            <h3>Version</h3>
        </div>
        <div class="column-2--hand center invisible--hand visible--lap">
            <h3>Downloads</h3>
        </div>
    </div>
    <div ng-repeat="plugin in plugins" class="row pluginItem">
        <div class="column-9--hand column-8--lap">
            <div><a ng-href="#/package/{{plugin.key}}">{{plugin.key}}</a></div>
            <div>{{((plugin.value.description)||(plugin.doc.description))}}</div>
        </div>
        <div class="column-3--hand column-2--lap center">
            <div class="">{{((plugin.value['dist-tags'].latest)||(plugin.doc['dist-tags'].latest))}}</div>
        </div>
        <div class="column-2--hand invisible--hand visible--lap center">
            <div class="">{{downloads[plugin.key]}}</div>
        </div>
    </div>
</div>
