<div ng-show="plugins.length > 0">
    <div class="row pluginHeader">
        <div class="column-9--hand column-8--lap">
            Plugin ID &amp; description
        </div>
        <div class="column-3--hand column-2--lap center">
            Version
        </div>
        <div class="column-2--hand center invisible--hand visible--lap">
            Downloads
        </div>
    </div>
    <div ng-repeat="plugin in plugins | platformFilter: selectedPlatforms()" class="row pluginItem">
        <div class="column-9--hand column-8--lap">
            <div><a ng-href="#/package/{{plugin.key}}">{{plugin.key}}</a></div>
            <div class="pluginItemDescription">{{((plugin.value.description)||(plugin.doc.description))}}</div>
        </div>
        <div class="column-3--hand column-2--lap center">
            <div class="pluginItemVersion">{{((plugin.value['dist-tags'].latest)||(plugin.doc['dist-tags'].latest))}}</div>
        </div>
        <div class="column-2--hand invisible--hand visible--lap center">
            <div class="pluginItemDownloads">{{downloads[plugin.key]}}</div>
        </div>
    </div>
</div>
