/* Home styles */

#home-container {
	min-height: 350px;
}

.discover-message-container {
	padding-top: 80px;
}

.cordova-grid-bg {
    background: url(../images/grid.png);
}

.discover-message {
	background-color: white;
	font-size: 36px;
	margin: 1px;
}

.home-plugin-listing {
	border-bottom: dotted 2px @border-faded-color;
	text-align: center;

	h3 {
		font-weight: bolder;
		font-size: 25px;
		margin: 0;
	}

	div {
		font-size: 14px;
	}
}

.call-to-action-panes {
	text-align: center;
}