/* Package Details styles */

.space {
	padding: 5px 0px;
    border-bottom:solid 2px @border-faded-color;
}

.toprow {
    padding-top:10px;
}

.top-button {
	border-bottom: dotted 1px blue;
	color: @highlight-color;
	cursor: pointer;
	padding: 20px 0px;
}

.version-dropdown {
	width: 100%;
}

.package-detail-rows {

	div.row {
		padding: 5px 0px;
		word-wrap: break-word;
	}
}

.package-downloads {
	background: @border-faded-color;
	margin: -10px;
	text-align: right;
	font-weight: lighter;

	.package-label {
		font-weight: normal;
	}
}

.readme {
	margin-top: 10px;
	
	pre code, code {
		background: @border-faded-color;
		display: block;
		padding: 5px;
		font-size: 90%;
		line-height: 1.4;
		color: @header-bg-color;
		font-family: 'DejaVu Sans Mono', Consolas, 'Lucida Console', Monaco, monospace;
		.border-radius(4px);
	}

	code {
		display: inline-block;
		line-height: 1;
		padding: 3px;
	}

	pre code {
		max-width: 1084px;
		overflow: auto;
	}

	h1 {
		font-size: 180%;
	}

	h2 {
		margin: 30px 0 0;
		padding-top: 10px;
		font-size: 1.5em;
		color: @header-bg-color;
		border-top: 2px solid @border-faded-color;
	}
	h3 {
		margin: 30px 0 0;
		font-weight: normal;
		font-size: 1.1em;
		color: @header-bg-color;
	}
}
